.login-div {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  background: #ecf0f3;
}
img {
  margin-left: 46%;
  width: 100px;
  height: 100px;
  transition: 0.3s ease-in-out;
}
.title {
  transition: 0.3s ease-in-out;
  text-align: center;
  font-size: 2rem;
  padding-top: 1.2rem;
  letter-spacing: 0.5px;
}
.fields svg {
  height: 22px;
  margin: 0 10px -3px 25px;
}
.fields {
  margin-left: 27%;
  width: 100%;
  padding: 75px 5px 5px 5px;
  display: flex;
  flex-direction: column;
}
.fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
}
.username,
.password {
  width: 40%;
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  transition: 0.5s;
}
.signin-button {
  margin-left: 5%;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  width: 30%;
  height: 60px;
  border-radius: 30px;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #fff;
  background: #24cfaa;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
}

.signin-button:hover {
  background: #2fdbb6;
}
.signin-button:active {
  background: #1da88a;
}
.icon{
  width: 90px !important;
  height: 70px;
}
.infohead{
  font-family: 'Girassol', cursive;
}